////////////////////////////
// COMMON COLORS
////////////////////////////

@lightGrey: #454545;
@midGrey: #575757;
@darkGrey: #2B2B2B;
@fontGrey: #939393;
@white: #fff;

////////////////////////////
// OTHER
////////////////////////////

@placeholder: rgba(255, 255, 255, 0.5);

@costBackground: rgba(53, 53, 53, 0.3);
@discountBackground: rgba(36, 160, 30, 0.75);
@textBox: #3A3A3A;

@line: #424242;
@gamesCount: #777;
@extra: rgba(255, 255, 255, 0.25);

////////////////////////////
// RECOMMENDATION
////////////////////////////
@barPositive: #1893e7;
@barMixed: #9d8319;
@barNegative: #853928;
@posRecommend: #3f758e;
@negRecommend: #7e713d;

////////////////////////////
// STATUS
////////////////////////////
@statusGreen : #1c992f;
@statusRed : #853928;
@statusOrange : #9d8319;