@import "colors";
@import "variables";
@import "helper";

body {
	background-color: @darkGrey;
}

.right {
	float: right!important;
}

.left {
	float: left!important;
}

a {
	cursor: pointer;
	text-decoration: none;
}

#appContainer {
	position: relative;
	margin: 20px auto;
	width: @userInfoContainerWidth + @gamesContainerWidth;
	color: @white;

	.header {
		.steamize, .steamIdInput {
			display: inline-block;
			font-size: 24px;

			.logo {
				width: @logoDimensions;
				height: @logoDimensions;
				margin: -9px 15px 0 0;
				border-radius: 50%;
				background-color: @midGrey;
				float: left;
			}	
		}
		.steamize {
			width: @userInfoContainerWidth;

			a {
				color: @white;
			}
		}
		.steamIdInput {
			position:relative;
			width: @gamesContainerWidth;

			input {
				font-size: 13px;
				width: (@gamesContainerWidth - 39px);
				height: 41px;
				margin: 0 0 16px 0;
				padding: 0 0 0 39px;
				border: 0;
				border-radius: 3px;
				background-color: @lightGrey;
				background-image:url('http://png-4.findicons.com/files/icons/1389/g5_system/32/toolbar_find.png');
				background-repeat:no-repeat;
				background-position:left center;outline:0;
			}
		}
	}

	#userInfoContainer, #gamesContainer {
		display: inline-block;
	}

	#userInfoContainer {
		width: @userInfoContainerWidth;
		float: left;

		.userInfo {
			margin: 0 0 22px 0;
			height: @avatarDimensions;

			.avatar {
				float: left;
				width: @avatarDimensions;
				height: @avatarDimensions;
				margin: 0 10px 0 0;
				border-radius: 50%;
			}
			.name {
				display: block;
				font-size: 18px;
			}
			.location {
				font-size: 14px;
				color: @fontGrey;
			}
		}
		.userSummary {
			font-size: 32px;

			.placeholder {
				display: block;
				font-size: 14px;
				color: @placeholder;
				margin: 0 0 13px 0;
				text-transform: uppercase;
			}
		}
	}

	#gamesContainer {
		#imageContainer {
		  width: @gamesContainerWidth;
		  display: inline-block;

			> div {
				margin: @imgContainerMargin;
			}

			.gamesDetail {
				position: relative;
				width: 100%;
				height: 100%;
				background: -webkit-gradient(linear, left top, right top, from(rgba(74, 155, 184, 0.43)), to(#514faa));
				background: -webkit-linear-gradient(left, rgba(74, 155, 184, 0.43), #514faa);
				background: -moz-linear-gradient(left, rgba(74, 155, 184, 0.43), #514faa);
				background: -ms-linear-gradient(left, rgba(74, 155, 184, 0.43), #514faa);
				background: -o-linear-gradient(left, rgba(74, 155, 184, 0.43), #514faa);
				font-size: 18px;

				.bottom {
					position: absolute;
					width: 100%;

					& span {
						vertical-align: bottom;
						display: inline-block;
					}

					.name {
						max-width: 50%;
						margin: 0 14px -1px 15px;
						white-space: nowrap;
						overflow:hidden;
						text-overflow: ellipsis;
					}
					.hours {
						margin: 0 2px 0 0;
						font-size: 14px;
					}
					.achievements {
						font-size: 14px;
					}
					.cost {
						float: right;
						padding: 5px 9px 6px 7px;
						margin: 0 7px 0 0;
						background-color: @costBackground;
						font-size: 16px;
					}
				}
			}
			.imgLarge, .imgNormal {
				display:inline-block;
				background-repeat: no-repeat;
				background-attachment: center center;
				background-position: fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			.imgLarge {
				width: @imgWidthLarge;
				height: @imgHeightLarge;
				float: left;

				.gamesDetail {
					.bottom {
						bottom: 10px;
					}
				}
			}
			.imgNormal {
				width: @imgWidthNormal;
				height: @imgHeightNormal;
				float: left;

				.discount {
					position: relative;
					width: 100%;
					height: 100%;

					> span {
						background-color: @discountBackground;
						position: absolute;
						bottom: 6.3px;
						right: 7px;
						font-size: 16px;
						padding: 2px 6px 4px 11px;
					}
				}
				.gamesDetail {
					.bottom {
						bottom: 0px;
					}
					.name {
						max-width: 90%;
						display: block;
						margin: 0 0 10.7px 9px;
					}
					.hours {
						margin: 0 0 0 11px;
					}
					.cost {
						margin: 0 5px 6px 0;
					}
				}
			}
		}

		.moreGames {
			text-align: center;
			margin: 11.1px 0;
			font-size: 16px;

			.loadMore {
				display: block;
				margin: 0 0 6.8px 0;
			}
			.gamesCount {
				font-size: 14px;
				color: @gamesCount;
			}
		}

		.footer {
			position: relative;
			width: @gamesContainerWidth;
			margin: 0 auto;

			.line {
				display:block;
				border: 1px solid @line;
			}

			.extra {
				margin: 3.5px 0 0 0;
				font-size: 12px;
				color: @extra;
				float: right;

				.about {
					display: inline-block;
					margin: 0 9px 0 0;
				}
			}
		}
	}
}