@darkBGrey: #333A44;
@bGrey: #272E38;
html, body {
	height:100%;
}

body {
 	background-color: @bGrey;
  	background-image: -webkit-linear-gradient( -28deg, @bGrey 0%, @bGrey 60%, @darkBGrey 60%, @darkBGrey 60%);
  	background-image: linear-gradient( -28deg, @bGrey 0%, @bGrey 60%, @darkBGrey 60%, @darkBGrey 60%);
}