<!-- TODO: clean this up... -->
<% for (var i = 0; i < 3; i ++) { %>
	<div class="imgLarge" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[i]['appId'] %>/header.jpg")'></div>
	<div class="imgNormal" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[(i*2)+3]['appId'] %>/header.jpg")'></div>
	<div class="imgNormal" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[(i*2)+4]['appId'] %>/header.jpg")'></div>
<% } %>
<% for (var i = 9; i < 15; i ++) { %>
	<div class="imgNormal" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[i]['appId'] %>/header.jpg")'></div>
<% } %>