<head>
    <meta charset="UTF-8">
    <title>Steamize</title>

    <link type="text/css" rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/dist/css/style.min.css">
</head>