<head>
    <meta charset="UTF-8">
    <title>Steamize</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/dist/css/style.min.css">
</head>