<!-- public/index.html -->
<!doctype html>
<html lang="en">
	<% include ./header %>
	<body data-name="index">
		<div class="container">
			<form method="POST" id="steamIDForm" class="" onsubmit="index.submit();">
				<input type="text" class="steamIDInput" name="steamIDInput" />
				<button type="submit" form="steamIDForm" value="Submit">Search</button>
			</form>
		</div>

		<% include ./basic_scripts %>
	</body>
</html>