<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steamize</title>
    <link type="text/css" rel="stylesheet" href="/dist/css/style.min.css">
</head>
<body ng-app="mainApp" ng-controller="ProfileController">
<div class="container">

    {{test}}

</div>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="/src/core/mvc/app.modules.js"></script>
    <script src="/src/core/mvc/service/SteamServices.js"></script>
    <script src="/src/core/mvc/controller/ProfileController.js"></script>
    <script src="/src/core/mvc/controller/GameController.js"></script>
    <script src="/src/core/mvc/controller/AchievementController.js"></script>
    <script src="/src/core/mvc/controller/FriendsController.js"></script>
    <script src="/src/core/mvc/controller/Controller.js"></script>
</body>
</html>