<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steamize</title>
    <link type="text/css" rel="stylesheet" href="/dist/css/style.min.css">
</head>
<body>
<div class="container">

    {{test}}

</div>
	<script data-main='/src/core/mvc/main' src="/bower_components/requirejs/require.js"></script>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
</body>
</html>