<!-- public/index.html -->
<!doctype html>
<html lang="en">
	<% include ./header %>
	<body data-name="index">
		<div class="container">
			<form method="POST" id="steamIDForm">
				<input type="text" class="steamIDInput" name="steamIDInput" />
			</form>
		</div>
		<% include ./basic_scripts %>
		<% include ./variable_setup %>
	</body>
</html>