<% if (gamesLength > 0) { %>
	<% if (index < gamesLength) { %>
<a class="loadMore _loadMore">Load More</a>
	<% } %>
<span class="gamesCount _gamesCount"><%= index %> of <%= gamesLength %> Games</span>
<% } %>