<ul>
	<% if (personaname) { %><li>Nickname: <%= personaname %></li><% } %>
	<% if (steamid) { %><li>Steam id: <%= steamid %></li><% } %>
	<% if (lastlogoff) { %><li>Last log off: <%= lastlogoff %></li><% } %>
</ul>