<!-- public/index.html -->
<!doctype html>
<html lang="en">
	<% include ./header %>
	<body data-name="steamize">
		<div id="appContainer">

			<section class="header">
				<div class="steamize">
					<div class="logo"><img src=""/></div>
					<a href="/">Steamize</a>
				</div><!--
				--><div class="steamIdInput">
						<form method="POST" id="steamIDForm">
							<input type="text" class="steamIDInput" name="steamIDInput" placeholder="Type username or id to search"/>
						</form>
				</div>
			</section>

			<section id="userInfoContainer">
				<div class="userInfo"></div>
				<div class="userSummary"></div>
			</section><!--
			--><section id="gamesContainer">
				<div id="imageContainer"></div>
				<div class="moreGames"></div>

				<section class="footer">
					<span class="line"></span>
					<div class="extra">
						<a class="about _about">About</a>
						<a class="policy _policy">Privacy Policy</a>
					</div>
				</section>
			</section>
		</div>
		<% include ./basic_scripts %>
		<% include ./variable_setup %>
	</body>
</html>