<div class="hoursContainer">
<span class="hours"><%= totalPlayedTime %></span>
<span class="placeholder">Hours played</span>
</div>
<div class="spentContainer">
<span class="money">$<%= totalCost %></span>
<span class="placeholder">Spent on games</span>
</div>
<div class="achievementsContainer">
<span class="achievements"><%= totalAchievementsCompleted %></span>
<span class="placeholder">Achievements</span>
</div>