<!-- public/index.html -->
<!doctype html>
<html lang="en">
	<% include ./header %>
	<body data-name="summary">
		<div class="profileContainer">
		</div>
		<div class="friendsContainer">
		</div>
		<div class="gamesContainer">
		</div>
		<div class="gamesDetailContainer">
		</div>
		<% include ./basic_scripts %>
		<% include ./variable_setup %>
	</body>
</html>